@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

main {
  color: #333;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;

  .about-me-card {
    .about-me-img {
      max-width: 90%;
      border-radius: 10% 0 0 10%;
      //background-color: #f8d3d3;
      border: 1px solid #333;
      overflow: hidden;
      padding: 1rem;
    }
    .about-me-info {
      max-width: 98%;
      //background-color: #f8d3d3;
      text-align: right;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      //border: 1px solid #333;
      overflow: hidden;
      h1 {
        font-size: 2rem;
        font-weight: 300;
      }
    }
    .about-me-flower {
      //background-color: #f8d3d3;

      //border-radius: 0 15% 15% 0;
      //border: 1px solid #333;
    }
    .right-side-box {
      background-color: #f8d3d3;
      border-radius: 0 15% 15% 0;
      border: 1px solid #333;

      h1 {
        font-size: 2rem;
        font-weight: 300;
      }
    }
    .left-side-box {
      background-color: #f8d3d3;
      border-radius: 15% 0 0 15%;
      border: 1px solid #333;
    }
  }
}
