@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
$color-complementary: #bad6c6;
$color-two: #d6b9ba;

#about-me-info {
  height: 100%;
  border-radius: 0 5rem 5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    ellipse farthest-corner at center,
    #ffffff,
    #f8d3d3
  );
  margin-top: 2rem;
  padding: 1rem;
  h1 {
    text-align: center;
    font-family: "Dancing Script", cursive;
  }
  p {
    text-align: center;
    padding: 1rem;
  }
}
#about-me-img {
  height: 100%;
  position: relative;
  //border: 2px solid grey;
  border-radius: 5rem 0 0 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    ellipse farthest-corner at center,
    $color-complementary,
    $color-two
  );
  margin-top: 2rem;

  img {
    overflow: hidden;
    border-radius: 5rem 0 0 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  hr {
    width: 85%;

    margin: auto;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    font-family: "Dancing Script", cursive;
  }
}
