* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  background-image: url(./assets/images/Adam\ Levine\ in\ kleur\ 2015.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
