@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    text-align: center;
  }
}
